@font-face {
  font-family: 'fonticon';
  src: url('w-dalil-icone.ttf');
  src: url('w-dalil-icone.eot') format('embedded-opentype'),
       url('w-dalil-icone.woff') format('woff'),
       url('w-dalil-icone.ttf') format('truetype'),
       url('w-dalil-icone.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fonticon";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-print:before { content: '\e800'; } /* '' */
.icon-print-1:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-facebook-official:before { content: '\e804'; } /* '' */
.icon-twitter:before { content: '\e805'; } /* '' */
.icon-twitter-circled:before { content: '\e806'; } /* '' */
.icon-twitter-rect:before { content: '\e807'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-instagram-1:before { content: '\e809'; } /* '' */
.icon-instagram-2:before { content: '\e80a'; } /* '' */
.icon-instagram-3:before { content: '\e80b'; } /* '' */
.icon-instagram-filled:before { content: '\e80c'; } /* '' */
.icon-pinterest:before { content: '\e80d'; } /* '' */
.icon-pinterest-squared:before { content: '\e80e'; } /* '' */
.icon-pinterest-circled:before { content: '\e80f'; } /* '' */
.icon-filter:before { content: '\e810'; } /* '' */
.icon-filter-1:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-mail-alt:before { content: '\e813'; } /* '' */
.icon-mail-squared:before { content: '\e814'; } /* '' */
.icon-mail-2:before { content: '\e815'; } /* '' */
.icon-phone:before { content: '\e816'; } /* '' */
.icon-phone-squared:before { content: '\e817'; } /* '' */
.icon-phone-1:before { content: '\e818'; } /* '' */
.icon-globe:before { content: '\e819'; } /* '' */
.icon-globe-1:before { content: '\e81a'; } /* '' */
.icon-location:before { content: '\e81b'; } /* '' */
.icon-location-outline:before { content: '\e81c'; } /* '' */
.icon-location-1:before { content: '\e81d'; } /* '' */
.icon-cancel:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-search-1:before { content: '\e820'; } /* '' */
.icon-search-2:before { content: '\e821'; } /* '' */
.icon-search-3:before { content: '\e822'; } /* '' */
.icon-rss-squared:before { content: '\e823'; } /* '' */
.icon-gplus-squared:before { content: '\e824'; } /* '' */
.icon-googleplus-rect:before { content: '\e825'; } /* '' */
.icon-rss-alt:before { content: '\e826'; } /* '' */

.all_cats{
}
.listcat_item{
    font-size: 14px;
    line-height: 24px;
}
.dalil-phone,.dalil-address,.dalil-email,.dalil-website{
    margin-bottom: 4px;
}
.dalil-phone p,.dalil-address p,.dalil-email p,.dalil-website p,
.dalil-phone span,.dalil-address span,.dalil-email span,.dalil-website span{
    display: inline-block;
}
.dalil-phone a,.dalil-address a,.dalil-email a,.dalil-website a{
    display: inline-block;
}
.dalil-phone span,.dalil-address span,.dalil-email span,.dalil-website span{
    vertical-align: middle;
}
.dalil-phone p,.dalil-address p,.dalil-email p,.dalil-website p{
    vertical-align: top;
    width: 76%;
}
.s_text{
    display: inline-block;
}
.dalil_remove_wrap{
    display: inline-block;
    padding: 5px 12px;
    background-color: #f0f0f0;
    border-radius: 100px;
    border: 1px solid #ddd;
}
.w_dalil_nav{
    text-align: center;
}
.w_dalil_nav a{
    background-color: rgb(240, 240, 240);
    padding: 3px 7px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
}
.w_search{
    margin-bottom: 40px;
}
.w_dalil_glyphs{
    color: #202020;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    background-color: #F0F0F0;
/*    padding: 4px 0px;*/
    border: 1px solid #DDD;
    margin: 0px 5px;
    width: 25px;
    border-radius: 3px;
}
.icon-print{
    cursor: pointer;
}
.dalil-cat{
    margin-top: -8px;
    margin-bottom: 14px;
}
.dalil_message{
    padding: 2px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    text-align: center;
}
.dalil-title,.all_cats{
    font-size: 17px !important;
    font-weight: 800 !important;
    margin-top: 5px !important;
}
.dalil-title,.dalil-phone,.dalil-address,.dalil-cat,.dalil-email,.dalil-website{
    cursor: default;margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.w_dalil_edit_item{
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color: rgb(240, 240, 240);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    clear: both;
}
.w_dalil_edit_item:hover{
    background-color: rgb(220, 220, 220);
    text-decoration: none;
}
.dalil_item_container{
    overflow: hidden;
    margin-top: 10px;
}
.dalil_logo{
    max-width: 25% !important;
}
.dalil_inf{
    width: 70%;
}
#dalil_logo_input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.dalil_logo_input , .dalil_logo_label {
    font-size: 1em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
    cursor: pointer; /* "hand" cursor */
    padding: 4px 8px;
    border-radius: 4px;
    color: #202020;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}
.dalil_logo_input:focus ,.dalil_logo_label:hover {
    background-color: #e0e0e0;
}
a{
    cursor: pointer;
}
@media  screen and (max-width:750px){
    body .dalil_logo{
        max-width: 100% !important;
        float: none !important;
        margin: auto !important;
        margin-bottom: 20px !important;
    }
    .dalil_inf{
        float: none !important;
        width: 100%;
    }
    .dalil-phone span, .dalil-address span, .dalil-email span, .dalil-website span {
        width: 100%;
    }
    .dalil-phone p, .dalil-address p, .dalil-email p, .dalil-website p {
        width: 100%;
        text-align: center;
    }
    .dalil-title, .dalil-phone, .dalil-address, .dalil-cat, .dalil-email, .dalil-website {
        display: block;
        text-align: center;
    }
}
